.logo {
  width: 100%;
  max-height: 3rem;
  max-width: 10rem;
}

.logoContainer {
  padding: 1rem;
  margin: 1rem;
}

.pageContainer {
  padding-top: 5rem;
}

.text {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 3rem;
}

@media screen and (max-width: 996px) {
  .logo {
    max-height: 2.5rem;
    max-width: 8rem;
  }

  .pageContainer {
    padding-top: 3rem;
  }

  .text {
    font-size: 1rem;
    margin: 1rem;
    padding: 1rem;
  }
}
