.container {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  gap: 8px;
  height: 40px;
  border: 1px solid var(--ifm-color-primary);
  color: #fff;
}

.container:hover {
  color: black;
  background-color: var(--ifm-color-primary);
  cursor: pointer;
}

.version {
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 12px;
  line-height: 12px;
  height: 20px;

  background-color: #0c1519;
  color: var(--ifm-color-success);
  text-align: center;
  vertical-align: middle;
}

.a {
  text-decoration: none;
  color: inherit;
}

.a:hover {
  text-decoration: none;
  color: inherit;
}
