.card {
  background-color: #242e33;
}

.card:hover {
  background-color: #2b3940;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.img {
  width: 2rem;
  height: 2rem;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2rem;
}

.a {
  text-decoration: none;
  color: inherit;
}

.a:hover {
  text-decoration: none;
  color: inherit;
}
