.container {
  display: flex;
  justify-content: center;
}

.center {
  max-width: calc(0.9 * var(--ifm-container-width));
}

.centerImg {
  border-radius: 4px;
}

.left {
  flex-grow: 1;
}

.right {
  flex-grow: 1;
  transform: scaleX(-1);
}

.img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1440px) {
  .center {
    padding: 0 var(--ifm-spacing-horizontal);
  }

  .left,
  .right {
    display: none;
  }
}
