@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Basier Circle-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/5cc21acb3e1bfc00095c7841/BasierCircle-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Basier Circle-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/59f734011fe3cb000d5fd036/BasierCircle-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Basier Circle Mono-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/5d0c637351be435ff37308fd/BasierCircleMono-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Basier Circle Mono-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/5d0c637351be435ff37308fd/BasierCircleMono-Medium.otf")
    format("opentype");
}
