:root {
  --primitive-colors-white: rgba(255, 255, 255, 1);
  --primitive-colors-flow-gray-10: rgba(240, 243, 245, 1);
  --primitive-colors-flow-gray-30: rgba(197, 206, 212, 1);
  --primitive-colors-flow-gray-80: rgba(61, 71, 77, 1);
  --primitive-colors-flow-gray-90: rgba(36, 46, 51, 1);
  --primitive-colors-flow-gray-100: rgba(12, 21, 25, 1);
  --primitive-colors-flow-green: rgba(67, 237, 188, 1);
  --primitive-colors-flow-blue-light: rgba(67, 201, 237, 1);
  --primitive-colors-flow-blue-dark: rgba(1, 148, 226, 1);
  --primitive-colors-white-duplicate: rgba(255, 255, 255, 1);
  --primitive-colors-flow-blue-light-duplicate: rgba(67, 201, 237, 1);
  --primitive-colors-flow-gray-medium: rgba(197, 206, 212, 1);
  --spacing-small-value-20: 20px;
  --spacing-small-value-12: 12px;
  --spacing-large-value-200: 200px;
  --spacing-small-value-16: 16px;
  --spacing-large-value-96: 96px;
  --spacing-medium-value-48: 48px;
  --spacing-large-value-64: 64px;
  --spacing-medium-value-32: 32px;
  --spacing-medium-value-24: 24px;
  --spacing-large-value-240: 240px;
  --spacing-large-value-80: 80px;
  --spacing-large-value-128: 128px;
  --spacing-small-value-8: 8px;
}
