.large-desktop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #0c1519;
  border: 1px solid;
  border-color: #000000;
}

.large-desktop .top-menu {
  display: flex;
  width: 1920px;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1008px;
  position: relative;
  flex: 0 0 auto;
  background-color: #0c151980;
  backdrop-filter: blur(24px) brightness(100%);
  -webkit-backdrop-filter: blur(24px) brightness(100%);
}

.large-desktop .menu-content-wrapper {
  display: flex;
  width: 1456px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 0px;
  position: relative;
  border-radius: 16px;
}

.large-desktop .logo-color-mlflow {
  position: relative;
  width: 103.23px;
  height: 40px;
}

.large-desktop .menu-items {
  display: inline-flex;
  align-items: center;
  gap: 91px;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .div {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .text-link-external {
  display: inline-flex;
  align-items: flex-start;
  gap: 2px;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.large-desktop .arrow-container {
  position: relative;
  width: 9px;
  height: 16px;
}

.large-desktop .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-small-value-12) var(--spacing-small-value-20) var(--spacing-small-value-12)
    var(--spacing-small-value-20);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--primitive-colors-flow-green);
  border-radius: 26px;
  all: unset;
  box-sizing: border-box;
}

.large-desktop .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: #0c1519;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.large-desktop .div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.large-desktop .alert-bar {
  position: relative;
  width: 1456px;
  flex: 0 0 auto;
}

.large-desktop .hero-block {
  display: flex;
  flex-direction: column;
  width: 1208px;
  align-items: center;
  gap: 8px;
  padding: var(--spacing-large-value-64) 0px var(--spacing-large-value-80) 0px;
  position: relative;
  flex: 0 0 auto;
  background: radial-gradient(50% 50% at 50% 50%, rgb(67, 201, 237) 0%, rgba(67, 201, 237, 0) 100%);
}

.large-desktop .hero-content {
  width: 713px;
  gap: var(--spacing-medium-value-32);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .p {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  background: linear-gradient(180deg, rgb(67, 201, 237) 0%, rgb(1, 148, 226) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 80px;
  text-align: center;
  letter-spacing: -2.88px;
  line-height: 88px;
}

.large-desktop .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  font-family: "Basier Circle-Regular", Helvetica;
  font-weight: 400;
  color: var(--primitive-colors-white);
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.large-desktop .button-group {
  align-items: flex-start;
  gap: var(--spacing-small-value-16);
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .version-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 12px 10px 10px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 20px;
  border: 1px solid;
  border-color: #43c9ed;
}

.large-desktop .pill-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 4px 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--primitive-colors-flow-gray-100);
  border-radius: 10px;
}

.large-desktop .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Basier Circle Mono-Regular", Helvetica;
  font-weight: 400;
  color: var(--primitive-colors-flow-green);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.large-desktop .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: "Basier Circle-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.large-desktop .img {
  position: relative;
  width: 16px;
  height: 16px;
}

.large-desktop .media-row {
  display: flex;
  width: 1920px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .flow {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 690.67px;
  margin-top: -5.33px;
  margin-bottom: -5.33px;
}

.large-desktop .media-container {
  position: relative;
  width: 1208px;
  height: 680px;
  background-color: var(--primitive-colors-flow-gray-90);
  border-radius: 16px;
  overflow: hidden;
}

.large-desktop .text-wrapper-6 {
  top: 331px;
  left: 562px;
  color: var(--primitive-colors-white);
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  white-space: nowrap;
}

.large-desktop .logo-row {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-medium-value-48);
  padding: var(--spacing-large-value-96) 0px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .logo-text-intro {
  display: flex;
  width: 1456px;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .line {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 5.33px;
  margin-left: -2.17px;
  object-fit: cover;
}

.large-desktop .line-2 {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 5.33px;
  margin-right: -2.17px;
  object-fit: cover;
}

.large-desktop .logo-scroll {
  display: flex;
  width: 1920px;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
  overflow: hidden;
}

.large-desktop .rectangle {
  position: relative;
  width: 191px;
  height: 43px;
  margin-left: -59.5px;
  background-color: #ffffff;
  border-radius: 8px;
}

.large-desktop .rectangle-2 {
  position: relative;
  width: 191px;
  height: 43px;
  background-color: #ffffff;
  border-radius: 8px;
}

.large-desktop .section-header {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: var(--spacing-large-value-200) 0px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .eyebrow {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Basier Circle Mono-Regular", Helvetica;
  font-weight: 400;
  color: var(--primitive-colors-flow-green);
  font-size: 16px;
  letter-spacing: 1.28px;
  line-height: 16px;
  white-space: nowrap;
}

.large-desktop .title {
  position: relative;
  width: 959px;
  background: linear-gradient(180deg, rgb(67, 201, 237) 0%, rgb(1, 148, 226) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 48px;
  text-align: center;
  letter-spacing: -0.77px;
  line-height: 56px;
}

.large-desktop .card-grid {
  flex-wrap: wrap;
  width: 1456px;
  gap: 32px 32px;
  padding: var(--spacing-large-value-64) 0px 0px 0px;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.large-desktop .card {
  display: flex;
  flex-direction: column;
  max-width: 464px;
  width: 464px;
  height: 360px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 32px;
  position: relative;
  background-color: var(--primitive-colors-flow-gray-90);
  border-radius: 16px;
}

.large-desktop .card-title {
  flex-direction: column;
  gap: var(--spacing-small-value-16);
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.large-desktop .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Basier Circle Mono-Regular", Helvetica;
  font-weight: 400;
  color: var(--primitive-colors-flow-green);
  font-size: 12px;
  letter-spacing: 0.96px;
  line-height: 12px;
  white-space: nowrap;
}

.large-desktop .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: var(--primitive-colors-white);
  font-size: 32px;
  letter-spacing: 0;
  line-height: 40px;
}

.large-desktop .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  font-family: "Basier Circle-Regular", Helvetica;
  font-weight: 400;
  color: var(--primitive-colors-flow-gray-30);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
}

.large-desktop .tab-header-group {
  display: flex;
  flex-direction: column;
  width: 1456px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .tab-row-wrapper {
  width: 1456px;
  gap: 8px;
  padding: var(--spacing-large-value-200) 0px var(--spacing-medium-value-32) 0px;
  margin-top: -128px;
  background: radial-gradient(50% 50% at 50% 50%, rgb(67, 201, 237) 0%, rgba(67, 201, 237, 0) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .div-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .tab-selector {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #43edbc;
  border-radius: 8px;
}

.large-desktop .tab-content {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: #0c1519;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.large-desktop .tab-content-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #0c1519;
  border-radius: 8px;
}

.large-desktop .tab-content-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.large-desktop .content-div {
  display: flex;
  width: 1455px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 64px 0px 0px 80px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--primitive-colors-flow-gray-10);
  border-radius: 16px;
  overflow: hidden;
}

.large-desktop .text-content {
  flex-direction: column;
  width: 558px;
  gap: 32px;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.large-desktop .improve-gen-AI {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Basier Circle-Regular", Helvetica;
  font-weight: 400;
  color: var(--primitive-colors-flow-gray-80);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
}

.large-desktop .text-CTA {
  display: flex;
  width: 135px;
  height: 24px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.large-desktop .icon-container {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 4px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .go-to-the-code {
  margin-right: -40px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: var(--primitive-colors-flow-gray-100);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.large-desktop .media {
  position: relative;
  width: 641px;
  height: 480px;
  background-color: var(--primitive-colors-white);
  border-radius: 16px 0px 16px 0px;
  overflow: hidden;
}

.large-desktop .overlap-group {
  position: relative;
  height: 480px;
  background-color: var(--primitive-colors-white);
  border-radius: 16px 0px 0px 0px;
}

.large-desktop .text-wrapper-10 {
  top: 231px;
  left: 278px;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  white-space: nowrap;
}

.large-desktop .integrations-cards {
  display: flex;
  flex-direction: column;
  width: 1456px;
  align-items: flex-start;
  gap: 32px;
  padding: var(--spacing-medium-value-48) 0px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .integration-card-row {
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.large-desktop .integration-card {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: var(--spacing-medium-value-24);
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--primitive-colors-flow-gray-90);
  border-radius: 16px;
}

.large-desktop .logo-integration {
  display: flex;
  width: 48px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
}

.large-desktop .databricks-icon {
  position: relative;
  width: 43.49px;
  height: 48px;
}

.large-desktop .text {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.large-desktop .logo-integration-2 {
  position: relative;
  width: 48px;
  height: 48px;
}

.large-desktop .subheadline-row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  padding: var(--spacing-large-value-96) 0px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.large-desktop .text-wrapper-12 {
  position: relative;
  width: 1456px;
  margin-top: -1px;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: var(--primitive-colors-flow-green);
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
}

.large-desktop .integration-card-row-2 {
  display: flex;
  flex-wrap: wrap;
  width: 1456px;
  align-items: flex-start;
  justify-content: center;
  gap: 32px 32px;
  padding: var(--spacing-medium-value-48) 0px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .integration-card-2 {
  width: 216px;
  align-items: center;
  gap: 24px;
  padding: 16px;
  background-color: var(--primitive-colors-flow-gray-90);
  border-radius: 16px;
  display: flex;
  position: relative;
}

.large-desktop .img-2 {
  position: relative;
  width: 32px;
  height: 32px;
}

.large-desktop .text-2 {
  position: relative;
  width: fit-content;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.large-desktop .divider-line {
  position: relative;
  width: 1460.33px;
  height: 5.33px;
  object-fit: cover;
}

.large-desktop .card-grid-2 {
  display: flex;
  flex-wrap: wrap;
  width: 1456px;
  align-items: flex-start;
  gap: 32px 32px;
  padding: var(--spacing-medium-value-32) 0px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .card-2 {
  flex-direction: column;
  max-width: 464px;
  width: 464px;
  height: 512px;
  justify-content: space-between;
  padding: 32px;
  background-color: var(--primitive-colors-flow-gray-90);
  border-radius: 16px;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.large-desktop .frame {
  position: relative;
  width: 400px;
  height: 225px;
  background-color: var(--primitive-colors-flow-gray-30);
  border-radius: 4px;
  overflow: hidden;
}

.large-desktop .text-wrapper-13 {
  position: absolute;
  top: 101px;
  left: 148px;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.large-desktop .text-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.large-desktop .text-wrapper-14 {
  position: relative;
  align-self: stretch;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: var(--primitive-colors-white);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
}

.large-desktop .go-to-the-code-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: var(--primitive-colors-white-duplicate);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.large-desktop .community {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 16px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(67, 201, 237, 0.3) 0%, rgba(67, 201, 237, 0) 100%);
}

.large-desktop .text-group {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: var(--spacing-large-value-200) 0px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .join-our-growing {
  position: relative;
  width: 729px;
  margin-top: -1px;
  background: linear-gradient(180deg, rgb(67, 201, 237) 0%, rgb(1, 148, 226) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 80px;
  text-align: center;
  letter-spacing: -2.88px;
  line-height: 88px;
}

.large-desktop .div-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .text-wrapper-15 {
  position: relative;
  width: fit-content;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.large-desktop .community-part-a {
  display: flex;
  width: 1454px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .get-connected {
  display: flex;
  width: 463px;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;
  position: relative;
  background-color: var(--primitive-colors-white);
  border-radius: 16px;
  overflow: hidden;
}

.large-desktop .text-content-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.large-desktop .text-wrapper-16 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: var(--primitive-colors-flow-gray-100);
  font-size: 32px;
  letter-spacing: 0;
  line-height: 40px;
}

.large-desktop .go-to-the-code-3 {
  margin-right: -175px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: var(--primitive-colors-flow-gray-100);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.large-desktop .go-to-the-code-4 {
  margin-right: -70px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: var(--primitive-colors-flow-gray-100);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.large-desktop .line-3 {
  position: relative;
  width: 112.67px;
  height: 10.67px;
}

.large-desktop .logo-hub {
  position: relative;
  width: 324px;
  height: 324px;
}

.large-desktop .line-4 {
  position: relative;
  width: 113.67px;
  height: 10.67px;
}

.large-desktop .follow-along {
  display: flex;
  width: 463px;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;
  position: relative;
  margin-right: -1px;
  background-color: var(--primitive-colors-white);
  border-radius: 16px;
  overflow: hidden;
}

.large-desktop .go-to-the-code-5 {
  margin-right: -44px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: var(--primitive-colors-flow-gray-100);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.large-desktop .go-to-the-code-6 {
  margin-right: -215px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: var(--primitive-colors-flow-gray-100);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.large-desktop .go-to-the-code-7 {
  margin-right: -50px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: var(--primitive-colors-flow-gray-100);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.large-desktop .community-part-b {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .vector {
  position: relative;
  width: 10.67px;
  height: 92.67px;
  margin-top: -5.33px;
}

.large-desktop .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--primitive-colors-white);
  border-radius: 16px;
  overflow: hidden;
}

.large-desktop .div-wrapper {
  justify-content: center;
  gap: 24px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.large-desktop .text-wrapper-17 {
  position: relative;
  width: 354px;
  margin-top: -1px;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: var(--primitive-colors-flow-gray-100);
  font-size: 32px;
  letter-spacing: 0;
  line-height: 40px;
}

.large-desktop .frame-3 {
  display: flex;
  width: 665px;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .frame-4 {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--primitive-colors-flow-gray-10);
  border-radius: 4px;
}

.large-desktop .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  opacity: 0.5;
  font-family: "Basier Circle-Regular", Helvetica;
  font-weight: 400;
  color: var(--primitive-colors-flow-gray-80);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.large-desktop .get-started-wrapper {
  align-items: center;
  justify-content: center;
  padding: var(--spacing-small-value-12) var(--spacing-small-value-20) var(--spacing-small-value-12)
    var(--spacing-small-value-20);
  border-radius: 26px;
  border: 1px solid;
  border-color: #0c1519;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
  all: unset;
  box-sizing: border-box;
}

.large-desktop .subheadline-row-2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  padding: var(--spacing-large-value-200) 0px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.large-desktop .card-3 {
  flex-direction: column;
  max-width: 464px;
  width: 464px;
  gap: 32px;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.large-desktop .text-wrapper-19 {
  position: relative;
  align-self: stretch;
  font-family: "Basier Circle-Regular", Helvetica;
  font-weight: 400;
  color: #c5ced4;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.large-desktop .text-wrapper-20 {
  position: relative;
  width: 1456px;
  margin-top: -1px;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: var(--primitive-colors-flow-blue-light);
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
}

.large-desktop .frame-5 {
  position: relative;
  width: 464px;
  height: 261px;
  background-color: var(--primitive-colors-flow-gray-30);
  border-radius: 4px;
  overflow: hidden;
}

.large-desktop .text-wrapper-21 {
  top: 120px;
  left: 180px;
  color: #000000;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  white-space: nowrap;
}

.large-desktop .text-wrapper-22 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Basier Circle Mono-Regular", Helvetica;
  font-weight: 400;
  color: var(--primitive-colors-flow-blue-light);
  font-size: 12px;
  letter-spacing: 0.96px;
  line-height: 12px;
  white-space: nowrap;
}

.large-desktop .frame-6 {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.large-desktop .frame-7 {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-image: url(./img/author-image-3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.large-desktop .byline-text {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.large-desktop .by-ben-wilson-on {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Basier Circle-Regular", Helvetica;
  font-weight: 400;
  color: #c5ced4;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.large-desktop .frame-8 {
  background-image: url(./img/author-image-1.png);
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-size: cover;
  background-position: 50% 50%;
}

.large-desktop .frame-9 {
  background-image: url(./img/author-image.png);
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-size: cover;
  background-position: 50% 50%;
}

.large-desktop .frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: var(--spacing-large-value-240) 0px var(--spacing-large-value-240) 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.large-desktop .footer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  background-color: transparent;
}

.large-desktop .prefooter {
  position: relative;
  width: 1920px;
  height: 338px;
  overflow: hidden;
}

.large-desktop .footer-decoration {
  position: relative;
  width: 1921px;
  height: 676px;
  left: -1px;
}

.large-desktop .ellipse {
  width: 259px;
  height: 259px;
  top: 209px;
  left: 0;
  border-radius: 129.45px/129.4px;
  position: absolute;
  background: linear-gradient(180deg, rgb(67, 201, 237) 0%, rgb(1, 148, 226) 100%);
}

.large-desktop .ellipse-2 {
  width: 395px;
  height: 395px;
  top: 140px;
  left: 277px;
  border-radius: 197.63px/197.55px;
  position: absolute;
  background: linear-gradient(180deg, rgb(67, 201, 237) 0%, rgb(1, 148, 226) 100%);
}

.large-desktop .ellipse-3 {
  width: 535px;
  height: 535px;
  top: 70px;
  left: 691px;
  border-radius: 267.65px/267.54px;
  position: absolute;
  background: linear-gradient(180deg, rgb(67, 201, 237) 0%, rgb(1, 148, 226) 100%);
}

.large-desktop .ellipse-4 {
  width: 676px;
  height: 676px;
  top: 0;
  left: 1245px;
  border-radius: 338.13px/338px;
  position: absolute;
  background: linear-gradient(180deg, rgb(67, 201, 237) 0%, rgb(1, 148, 226) 100%);
}

.large-desktop .main-footer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: var(--spacing-large-value-64) 232px var(--spacing-large-value-64) 232px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--primitive-colors-flow-gray-10);
}

.large-desktop .footer-content {
  display: flex;
  flex-direction: column;
  width: 1456px;
  align-items: center;
  gap: 72px;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .upper-footer-content {
  display: inline-flex;
  align-items: center;
  gap: 828px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -2.66px;
  margin-right: -2.66px;
}

.large-desktop .logo {
  position: relative;
  width: 330.32px;
  height: 128px;
}

.large-desktop .right-footer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .img-3 {
  position: relative;
  width: 24px;
  height: 24px;
}

.large-desktop .see-how-in-the-docs {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Basier Circle-Medium", Helvetica;
  font-weight: 500;
  color: var(--primitive-colors-flow-gray-100);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.large-desktop .subfooter-legal {
  display: inline-flex;
  align-items: flex-start;
  gap: 202px;
  position: relative;
  flex: 0 0 auto;
}

.large-desktop .div-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Basier Circle-Regular", Helvetica;
  font-weight: 400;
  color: var(--primitive-colors-flow-gray-80);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.large-desktop .span {
  font-family: "Basier Circle-Regular", Helvetica;
  font-weight: 400;
  color: #3d474d;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.large-desktop .text-wrapper-23 {
  text-decoration: underline;
}

.large-desktop .sticky-side-nav {
  display: flex;
  flex-direction: column;
  width: 32px;
  align-items: flex-start;
  padding: 16px 0px;
  position: fixed;
  top: 280px;
  left: 16px;
  background-color: #0c151980;
  border-radius: 16px;
}

.large-desktop .side-anchor-link {
  display: flex;
  width: 200px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  margin-right: -168px;
}

.large-desktop .section-dot-wrapper {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
}

.large-desktop .section-dot {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: var(--primitive-colors-flow-green);
  border-radius: 8px;
}

.large-desktop .section-name {
  display: inline-flex;
  align-items: flex-start;
  padding: 8px 16px 8px 8px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 0px 16px 16px 0px;
  backdrop-filter: blur(24px) brightness(100%);
  -webkit-backdrop-filter: blur(24px) brightness(100%);
}

.large-desktop .section-name-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Basier Circle Mono-Medium", Helvetica;
  font-weight: 500;
  color: var(--primitive-colors-flow-green);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.large-desktop .section-dot-2 {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: var(--primitive-colors-flow-gray-10);
  border-radius: 8px;
}
