@layer theme, base, components, utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --font-sans: "DM Sans", sans-serif;

  --color-gray-1000: rgb(255 255 255 / 100%);
  --color-gray-900: rgb(255 255 255 / 90%);
  --color-gray-800: rgb(255 255 255 / 80%);
  --color-gray-700: rgb(255 255 255 / 70%);
  --color-gray-600: rgb(255 255 255 / 60%);
  --color-gray-500: rgb(255 255 255 / 50%);
  --color-gray-400: rgb(255 255 255 / 40%);
  --color-gray-300: rgb(255 255 255 / 30%);
  --color-gray-200: rgb(255 255 255 / 20%);
  --color-gray-100: rgb(255 255 255 / 10%);
  --color-gray-50: rgb(255 255 255 / 5%);

  --color-brand-black: #0e1416;
  --color-brand-red: #eb1700;
  --color-brand-teal: #44edbc;

  --font-weight-regular: 400;

  --breakpoint-xxs: 24rem;
  --breakpoint-xs: 32rem;
}

@utility break-word {
  word-break: break-word;
}

html {
  scroll-padding-top: 4rem;
}

body {
  font-family: "DM Sans", sans-serif !important;
  overscroll-behavior: none;
  /* Improve the word break for Chrome users */
  word-break: auto-phrase;
}

.text-white {
  color: white !important;
}

:root {
  --ifm-font-color-base: white;
  --ifm-heading-font-family: "DM Sans", sans-serif !important;
}

h1 {
  font-size: 52px !important;
  font-weight: 200 !important;
  line-height: 64px !important;
  letter-spacing: -2% !important;
  margin: 0 !important;
  color: white !important;
}

h3 {
  font-size: 24px !important;
  font-weight: 500 !important;
  line-height: 120% !important;
  margin: 0 !important;
}

a {
  color: rgba(255, 255, 255, 0.6) !important;
}

.markdown a {
  color: var(--color-brand-teal) !important;
}

a:hover {
  text-decoration: none !important;
  color: white !important;
}

code {
  background: #ffffff1a;
  font-family: "DM Mono", monospace !important;
}

b,
.markdown p,
time,
small {
  color: white !important;
}

.markdown h2,
.markdown h3 {
  color: white !important;
}

.alert p,
.markdown code {
  font-family: "DM Mono", monospace !important;
}

.navbar {
  display: none !important;
  visibility: hidden !important;
}

.max-w-container {
  max-width: 1680px !important;
  margin: 0 auto !important;
  width: 100% !important;
}

.products-submenu p {
  margin: 0 !important;
}

.animate-slide-left-infinite {
  animation: infinite-logo-carousel 25s linear infinite;
}

@keyframes infinite-logo-carousel {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.pagination-nav {
  display: flex !important;
  width: auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.pagination-nav__link {
  color: rgba(255, 255, 255, 0.6) !important;
  border: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.pagination-nav__label {
  font-weight: 500 !important;
}

.noScroll {
  overflow-y: hidden;
}
