/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2238a5;
  --ifm-color-primary-dark: #1f3295;
  --ifm-color-primary-darker: #1d308c;
  --ifm-color-primary-darkest: #182774;
  --ifm-color-primary-light: #253eb6;
  --ifm-color-primary-lighter: #2740be;
  --ifm-color-primary-lightest: #2f4ad4;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

html {
  scroll-behavior: smooth;
}

.navbar {
  justify-content: center;
}

.navbar__inner {
  max-width: var(--ifm-container-width-xl);
}

[data-theme="dark"] {
  --ifm-color-primary: #43c9ed;
  --ifm-color-primary-dark: #27c1ea;
  --ifm-color-primary-darker: #19bde9;
  --ifm-color-primary-darkest: #0194e2;
  --ifm-color-primary-light: #5fd1f0;
  --ifm-color-primary-lighter: #6dd5f1;
  --ifm-color-primary-lightest: #96e1f5;
  /*  */
  --ifm-pills-spacing: 0.5rem;
  --ifm-pills-color-background-active: #43edbc;
  --ifm-pills-color-background: #43edbc;
  --ifm-pills-color-active: #0c1519;
  --ifm-color-success: #43edbc;
  --ifm-color-success-dark: #27eab2;
  --ifm-color-success-darker: #19e9ad;
  --ifm-color-success-darkest: #13c290;
  --ifm-background-color: #0c1519 !important;
  --ifm-card-background-color: #242e33 !important;
  --ifm-card-background-hover: #2b3940;
  --ifm-navbar-background-color: var(--ifm-background-color) !important;

  /* font size */
  --ifm-h1-font-size: 3rem;
  --ifm-h2-font-size: 2rem;
  --ifm-h3-font-size: 1.5rem;
}

[data-theme="dark"] .footer--dark {
  --ifm-footer-background-color: var(--ifm-card-background-color) !important;
}

[data-theme="dark"] .pills__item:not(.pills__item--active):hover {
  color: var(--ifm-background-color);
}

.col {
  padding: calc(0.75 * var(--ifm-spacing-horizontal))
    calc(0.75 * var(--ifm-spacing-horizontal));
}

.pills__item:not(.pills__item--active) {
  background-color: var(--ifm-background-color);
}

/* Original dark theme */
/* For readability concerns, you should choose a lighter palette in dark mode. */
/* [data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
} */

@media screen and (min-width: 996px) {
  .navbar__item__get-started {
    height: 40px;
    padding: 12px 20px;
    border-radius: 26px;
    color: #0c1519;
    font-size: 16px;
    line-height: 16px;
    background-color: var(--ifm-color-success);
    margin-left: 90px;
  }

  .navbar__item__get-started:hover {
    color: #0c1519;
    background-color: var(--ifm-color-success-darkest);
  }
}
