@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

* {
  font-family: "DM Sans", sans-serif !important;
}

.animate-slide-left-infinite {
  animation-duration: 25s;
  animation: infinite-logo-carousel 25s linear infinite;
}

@keyframes infinite-logo-carousel {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
