.card {
  padding: 0;
  height: 100%;
  justify-content: center;
}

.card:hover {
  background-color: var(--ifm-card-background-hover);
}

.cardBody {
  padding: 24px;
}

.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.a {
  text-decoration: none;
  color: inherit;
}

.a:hover {
  text-decoration: none;
  color: inherit;
}

.img {
  width: 3rem;
  height: 3rem;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}
