.card {
  padding: 32px;
  background-color: var(--ifm-color-success);
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 360px;
}

@media screen and (max-width: 996px) {
  .container {
    min-height: 256px;
  }
}
