/* Assuming we have 7 cards */

.container {
  display: grid;
  gap: 24px;
  justify-content: start;
}

.container > div {
  grid-column: span 2;
}

@media (max-width: 576px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 577px) and (max-width: 996px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }

  .container > div:nth-child(7) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

@media (min-width: 996px) and (max-width: 1440px) {
  .container {
    grid-template-columns: repeat(6, 1fr);
  }

  .container > div:nth-child(7) {
    grid-column-start: 3;
    grid-column-end: 5;
  }
}

@media (min-width: 1441px) {
  .container {
    grid-template-columns: repeat(8, 1fr);
  }

  .container > div:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}
