.container {
  display: flex;
  overflow: hidden;
}

.section {
  animation: swipe 30s linear infinite backwards;
  flex-shrink: 0;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

.img {
  height: 40px;
  margin: 0 50px;
}
