.logo-container-full {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: auto 1fr auto 1fr auto;
  margin-bottom: 2rem;
  min-width: 964px;
}

.logo-container-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo-circle-svg {
  margin: -5px;
  width: 324px;
  height: 324px;
}

.connector {
  stroke-width: 2;
}

.vertical-connector-container {
  height: 82px;
}

.lines {
  stroke: var(--ifm-color-primary);
}

.community-card-inline {
  width: 400px;
}

.community-card-block {
  width: 630px;
}

.community-card-mobile {
  width: 100%;
}

#mlflow-logo {
  animation: rotation 20s linear infinite;
  animation-play-state: paused;
  transform-origin: center;
  transform-box: fill-box;
}

#grow {
  transition: all 0.5s ease-in-out;
  pointer-events: bounding-box;
  transform-origin: center;
}

#grow:hover {
  transform: scale(1.05);
}

svg:hover #mlflow-logo {
  animation-play-state: running;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1440px) {
  .community-card-inline {
    width: 338px;
  }

  .community-card-block {
    width: 532px;
  }

  .logo-circle-svg {
    margin: -5px;
    width: 229px;
    height: 229px;
  }

  .vertical-connector-container {
    height: 48px;
  }
}

.follow-along-list li:not(:last-child) {
  margin-bottom: 16px;
}
