.container {
  display: grid;
  gap: 32px;
}

/* Large screens: 3 columns */
@media (min-width: 997px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.containerDouble {
  display: grid;
  gap: 32px;
}

/* Large screens: 3 columns */
@media (min-width: 997px) {
  .containerDouble {
    grid-column: span 2;
    grid-template-columns: repeat(12, 1fr);
  }

  .containerDouble > a:nth-child(1) {
    grid-column-start: 3;
    grid-column-end: 7;
  }

  .containerDouble > a:nth-child(2) {
    grid-column-start: 7;
    grid-column-end: 11;
  }
}
