.container {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

.h1 {
  background: linear-gradient(183deg, #43c9ed 7.4%, #0194e2 90.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: pre-line;
  font-size: 5rem;
}

.h2 {
  background: linear-gradient(183deg, #43c9ed 7.4%, #0194e2 90.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: pre-line;
  font-size: 3rem;
}

.h3 {
  background: linear-gradient(183deg, #43c9ed 7.4%, #0194e2 90.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: pre-line;
  font-size: 2rem;
}

@media screen and (max-width: 996px) {
  .container {
    max-width: 100%;
  }

  .h1 {
    font-size: 3rem;
  }

  .h2 {
    font-size: 2rem;
  }
}
