.container {
  padding-bottom: 60px;
}

@media screen and (min-width: 996px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}

@media screen and (max-width: 996px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}
