.logo {
  text-align: center;
}
@media screen and (min-width: 996px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .logo {
    flex: 1 1 30%;
    text-align: left;
  }

  .links {
    flex: 1 1 70%;
  }
}
