.card {
  background-color: transparent;
  /* padding: 0;
  border-radius: 0; */
}

.card:hover {
  background-color: var(--ifm-card-background-hover);
}

.cardBody {
  /* padding: 0; */
}

.a {
  color: inherit;
}

.img {
  border-radius: 4px;
  object-fit: cover;
  max-height: 250px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-bottom: 16px;
  gap: 0.5rem;
}

.tag {
  padding: 4px 8px;
}

.thumbnail {
  max-height: 300px;
}

@media screen and (min-width: 576px) and (max-width: 996px) {
  .container {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .thumbnail {
    flex: 1 1 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .body {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
