.card {
  padding: 32px;
  min-height: 300px;
}

.card:hover {
  background-color: var(--ifm-card-background-hover);
}

.cardBody {
  padding: 0;
}

.img {
  border-radius: 4px;
  background-color: white;
}

.a {
  text-decoration: none;
  color: inherit;
}

.a:hover {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 576px) and (max-width: 996px) {
  .container {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .thumbnail {
    flex: 1 1 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .body {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
