.card {
  background-color: transparent;
}

.card:hover {
  background-color: var(--ifm-card-background-hover);
}

.a {
  color: inherit;
}

.img {
  border-radius: 4px;
  max-height: 250px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  padding: 4px 8px;
}

.thumbnail {
  max-height: 300px;
}

@media screen and (min-width: 576px) {
  .container {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .thumbnail {
    flex: 1 1 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .body {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 996px) {
  .tags {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
