.floating-nav {
  position: fixed;
  left: 0;
  top: 25%;
  transform: translateY(-50%);
  padding: 20px;
}

.floating-nav ul {
  list-style: none;
  padding: 0;
}

.floating-nav ul li::before {
  content: "\2B24";
  color: var(--ifm-color-success);
  display: inline-block;
}

.floating-nav ul :not(:last-child) {
  margin-bottom: 8px;
}

.floating-nav ul li a {
  /* display: block; */
  padding: 0.5rem;
  color: transparent;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.floating-nav ul li.active a {
  color: var(--ifm-color-success);
}

.floating-nav ul li a:hover {
  color: var(--ifm-color-success);
}

/* Hide if the screen size is small */
@media screen and (max-width: 1700px) {
  .floating-nav {
    display: none;
  }
}
