.grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 16px;
  position: relative;
  width: 100%;
}

@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
  }
}

.grid.fadeOverlay {
  position: relative;
}

.grid.fadeOverlay::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #0c1519);
  pointer-events: none; /* Allow click-through */
  z-index: 1;
}

.buttonContainer {
  margin-top: 2rem;
  text-align: center;
  position: relative;
  z-index: 1; /* ensures it shows even if fade uses z-index */
  color: rgba(255, 255, 255, 0.5);
}

.toggleButton {
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
  transition: color 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.toggleButton:active {
  transform: scale(0.98);
}

.toggleButton:hover {
  color: var(--ifm-color-success);
}
