.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  position: relative;
  width: 100%;
}

.grid.fadeOverlay {
  position: relative;
}

.grid.fadeOverlay::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #0c1519);
  pointer-events: none; /* Allow click-through */
  z-index: 1;
}

.buttonContainer {
  margin-top: 3rem;
  text-align: center;
}

.toggleButton {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
  transition: color 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.toggleButton:active {
  transform: scale(0.98);
}

.toggleButton:hover {
  color: var(--ifm-color-success);
}
