.img {
  object-fit: cover;
}

.carousel {
  position: relative;
}

.dotsContainer {
  display: flex;
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
  justify-content: center;
}

.dot {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0.25rem;
  cursor: pointer;
}

.active {
  background-color: var(--ifm-color-primary);
}
