name: Labeling

on:
  issues:
    types:
      - opened
      - edited

permissions:
  contents: read

defaults:
  run:
    shell: bash --noprofile --norc -exo pipefail {0}

jobs:
  labeling:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write # harupy/auto-labeling
      issues: write # harupy/auto-labeling
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: harupy/auto-labeling@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          label-pattern: '- \[(.*?)\] ?`(.+?)`'